:root {
    --azul: #0A2647;
    --blanco: #F1F1F1;

    --fuente: 'rubik', sans-serif;
    --fuente2: 'Roboto', sans-serif;
}
h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.2rem;
}
 
header {
    background-image: url(../img/paisajeciudad2.jpg);
}
